body, html {
	background-color: #EDEDED !important;
}
*{
	margin: 0 auto;
	box-sizing: border-box;
}
header{
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}

h1{
	width: 100%;
	font-weight: bold;
}
