body, html {
	background-color: #EDEDED !important;
}
#portafolio{
	width: 100%;
	height: auto;
	background-color: #fff;
}
.cont-img{
	overflow: hidden;
	width: 100%;
	height: auto;
}
.materialboxed{
	width: 100%;
}
hr{
	width: 5%;
	margin-top: 2%;
	margin-bottom: 3%;
}
.row{
	margin: 0;
}
