
body, html {
	background-color: #EDEDED !important;
	font-family: "Roboto", sans-serif;
}

.upper{
	text-transform: uppercase;
}
.bold{
	font-weight: bold;

}
#contact{
	padding-top: 100px;
	padding-bottom: 100px;
}
.input-field{
	margin-bottom: 4rem;
}
.button{
	margin-bottom: 2rem;
}
